WebContent/wsdl/ScoreService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://demo.webservices" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://demo.webservices" xmlns:intf="http://demo.webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://demo.webservices" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findScore">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="findScoreResponse">
    <complexType>
     <sequence>
      <element name="findScoreReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findScoreRequest">

      <wsdl:part element="impl:findScore" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="findScoreResponse">

      <wsdl:part element="impl:findScoreResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ScoreService">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findScore">

         <wsdl:input message="impl:findScoreRequest" name="findScoreRequest">

       </wsdl:input>

         <wsdl:output message="impl:findScoreResponse" name="findScoreResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ScoreServiceSoapBinding" type="impl:ScoreService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="findScore">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="findScoreRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="findScoreResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ScoreServiceService">

      <wsdl:port binding="impl:ScoreServiceSoapBinding" name="ScoreService">

         <wsdlsoap:address location="http://localhost:8080/WebServiceProject/services/ScoreService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
